<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">History</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>History</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->
        <!-- About Section Start -->
        <div id="rs-about" class="rs-about style1 pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-last padding-0 md-pl-15 md-pr-15 md-mb-30">
                        <div class="img-part">
                            <img class="" src="assets/images/cems/about.JPG" alt="About Image">
                        </div>
                    </div>
                    <div class="col-lg-6 pr-70 md-pr-15">
                        <div class="sec-title">
                            <!-- <div class="sub-title orange">About Kasturba Kanya Vidhyalaya</div> -->
                            <h2 class="title mb-17">History</h2>
                            <div class="bold-text mb-22">મહાત્મા ગાંધી વિધાલય મોગરી, </div>
                            <div class="desc">ચરોતર એજયુકેશન સોસાયટી આણંદ સંચાલિત મહાત્મા ગાંધી વિધાલય - પ્રાથમિક વિભાગ,
                                મોગરી નો પાયો નાંખનાર
                                અને રામય ની માંગ રામજીને પોતાના' વિચાર ને અમલમાં લાવનાર ભૂતપૂર્વ મંત્રી શ્રી રમણભાઈ
                                નારાયણભાઇ
                                પટેલ હતા, તેમના વરદ હસ્તે તાઃ ૧૩-૦૬-૧૯૦૨ ના રોજ' સૌ પ્રથમ ધોરણ ૫-૬-૭ ના વર્ગો શરૂ
                                કરવામાં આવ્યા
                                હતાં શ્રી રમણભાઈ નારાયણભાઇ પટેલ જેઓ મહાત્મા ગાંધી વિધાલય મોગરી ખાતે આચાર્ય તરીકે ફરજ
                                બજાવતા હતા
                                અને સાથે રાાથે પ્રાથમિક વિભાગ નો પણ કાર્યભાર સંભાળતા
                                હતા.</div>
                            <div class="desc">
                                તેજ વર્ષથી વિધાર્થીઓની રાંખ્યા ધો. ૫ માં ૫૩, ધો.૬ મા ૫૩, તથા ધો.૭ માં-૫૦ ની હતી .આમ તે
                                વર્ષે કુલ
                                ૧૫૦ વિધાર્થીઓ એ પ્રવેશ મેળવ્યો હતો. તે સમયે શિક્ષક કર્મચારી સંખ્યા - ૫ હતી અને બિનશિક્ષક
                                કર્મચારી ની સંખ્યા -૨ હતી ત્યારબાદ કમશઃ વિધાર્થીઓની સંખ્યામાં વધારો થતો ગયો તેમ શિક્ષક
                                ગણ માં પણ
                                વધારો થતો ગયો અને તાઃ ૬-૦૧- ૧૯૯૬ થી ધો-૫-૬-૭ ના બબ્બે વર્ગ ની મંજુરી મળતા બબ્બે વા શરૂ
                                કરવામાં
                                આવ્યા
                                હતા.
                            </div>
                            
                        </div>
                    </div>
                </div>
                <p class="mt-20">ધો-૫-૬-૭ ના બબ્બે વર્ગી વર્ષ ૧૯૯૦ સુધી ચાલ્યા હતા અને વર્ષ - ૧૯૯૮ થી ધો-૫- ૬-૦ ના એક-એક
                    વર્ગ થયા હતા . વર્ષ - ૨૦૦૫ થી ધો-૫ નો બીજો વર્ગ શરૂ કરવામાં આવ્યો હતો અને વર્ષ -૨૦૦૭ માં
                    ધો-૬ અને ધો- નો બીજો વર્ગ શરૂ કરવામાં આવ્યો હતોં . ત્યારથી ધો-૫-૬-૭ ના બબ્બે વર્ગો ચાલે
                    છે અન`તે સમયે વિધાર્થીઓ ની સંખ્યા ૨૨૯ જેટલી હતી.
                    જુન ૨૦૧૨ થી ધોરણ ૮ ને પ્રથમિક વિભાગમાં દાખલ કરતા અને ઘેરણ ૫ ને નીચલા વર્ગામાં લઇ જતા
                    પ્રાથમિક વિભાગ એ ઉચ્ચતર પ્રાથમિક વિભાગ તરીકે ઓળખાયો અને ધોરણ ૬-૭-૮ ની શરૂઆત થઇ .
                    વર્ષ -૨૦૦૩ થી વર્ષ -૨૦૧૩ સુધી શ્રી રાજેન્દ્રભાઇ જશભાઇ પટેલ સાહેબે માધ્યમિક વિભાગ ની સાથે
                    પ્રાથમિક વિભાગ નો પણ કાર્યભાર સંભાળ્યો હતો. ત્યારબાદ ઉચ્ચતર પ્રાથમિક વિભાગ નો કાર્યભાર
                    જૂન -૨૦૧૩ થી ઓગસ્ટ -૨૦૧૫ સુધી શ્રી ઇશાનીબેન જી .મિસ્ત્રી તથા સપ્ટેમ્બર -૨૦૧૧૬ થી એપ્રિલ
                    -૨૦૧૮ સુધી શ્રી જાગૃતિબેન આર .ભટ્ટે સંભાળયો હતો. હાલમાં મેં- ૨૦૧૮ થી શ્રી રાકેશભાઈ
                    અંબાલાલ પટેલ સાહેબ શાળા નો કાર્યભાર સંભાળે છે. હાલમાં ધોરણ ૬-૭-૮ ના બબ્બે વર્ગ કાર્યરત
                    છે. શાળાના શૈક્ષણિક કર્મચારી ઓની સંખ્યા -૯ તથા બિન શૈક્ષણિક કર્મચારી ઓની સંખ્યા- ૨ છે.
                    હાલમાં સંસ્થાના ચેરમેન શ્રી નિરવભાઇ એન પટેલ રાાહેબ તથા સંસ્થના મંત્રી શ્રી કેતનભાઇ પી
                    પટેલ સાહેબ ના નેતૃત્વ હેઠળ શાળામાં કેમ્પસ ડેવલોપમેન્ટ નું એક ઉમદા કાર્ય ચાલી રહયુ છે
                    .વિધાર્થીઓના સર્વાંગી વિકારા માટેના સતત પ્રયત્નો સંસ્થાના વડાઓ દ્વારા થઇ રહયા છે .</p>
            </div>
        </div>
        <!-- About Section End -->

        <!-- Newsletter section start -->
        <!-- <div class="rs-newsletter style1 orange-color mb--90 sm-mb-0 sm-pb-70">
            <div class="container">
                <div class="newsletter-wrap">
                    <div class="row y-middle">
                        <div class="col-lg-6 col-md-12 md-mb-30">
                            <div class="content-part">
                                <div class="sec-title">
                                    <div class="title-icon md-mb-15">
                                        <img src="assets/images/newsletter.png" alt="images">
                                    </div>
                                    <h2 class="title mb-0 white-color">Subscribe to Newsletter</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <form class="newsletter-form">
                                <input type="email" name="email" placeholder="Enter Your Email" required="">
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Newsletter section end -->
    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>