<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="video-column col-lg-12">

                        <div class="inner-column">
                            <div class="course-features-info">
                                <h4>Theoretical values:</h4>
                                <ul>
                                    <li class="lectures-feature">
                                        <!-- <i class="fa fa-files-o"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">100 વર્ષ જૂની સંસ્થા. પરંપરાગત શિક્ષણ સાથે ટેકનોલૉજીનો સમન્વય સાધતી સંસ્થા.
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <!-- <i class="fa fa-puzzle-piece"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">બાળકોની રૂચી મુજબ કૌશલ્યનો વિકાસ કરતી એકમાત્ર સંસ્થા. 
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">આઝાદીની ચળવળમાં સક્રિય ભાગ ભજવેલ સંસ્થા દ્વારા બાળકોમાં દેશપ્રેમ તથા માનવતાના મૂલ્યો કેળવતી ઉત્તમ સંસ્થા.
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">બાળકોનો શારીરિક માનસિક, બૌદ્ધિક વિકાસ, હેતુલક્ષી શિક્ષણ પધ્ધતિ.
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">નબળા વિદ્યાર્થીઓ માટે વિશિષ્ટ મનોવૈજ્ઞાનિક પધ્ધતિથી આપવામાં આવતું શિક્ષણ.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">બાળકોમાં વિવિધ ધાર્મિક તહેવારોની ઉજવણી, કરાટે ક્લાસ, કન્યા જાગૃતિ પ્રોગ્રામ્સ, યોગા ક્લાસ, જીવન પદ્ધતિ (લાઈફ સ્ટાઈલ)ના ખ્યાલ આપતા કાર્યક્રમો કરનાર એકમાત્ર સંસ્થા.
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">મનોવૈજ્ઞાનિક પધ્ધતિથી આધુનિક યુગની માંગ મુજબની શિક્ષણ પધ્ધતિ</span>
                                    </li>
                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">દરેક યુનિટના અંતે ટેસ્ટ
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">નિયમિત વાલી મુલાકાત

                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">નિયમિત પત્ર વ્યવહા૨ તથા મોબાઈલ પર સતત વાલી સંપર્ક

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">વિદ્યાર્થીઓનું નિષ્ણાંત ડૉ. દ્વારા શારીરિક માનસિક ચકાસવણી (મેડીકલ ચેકઅપ)

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">વિવિધ સ્થાનિક, ઐતિહાસિક, વૈજ્ઞાનિક કુદરતી ધાર્મિક સ્થળોની મુલાકાત દ્વારા આંતરિક શક્તિઓ ખિલાવનાર શાળા
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="video-column col-lg-6">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <h4>Achievements</h4>
                                <ul>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">2000 ની સાલમાં રાજ્ય
                                            કક્ષાએ યોજાયેલ ગરબા સ્પર્ધામાં પ્રથમ નંબર મેળવેલ છે

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">2002 ની સાલમાં
                                            ઉચ્ચત્તર સાયન્સ પ્રવાહની શરૂઆત
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">2004 ની 15મી ઓગસ્ટે
                                            પોલીસ ગ્રાઉંડ માં સાંસ્ક્રુતિક કાર્યક્રમનુ આયોજન કરેલ હતું જેમાં ગરબામાં
                                            ભાગ લેનાર સર્વે વિધ્યાર્થીની બહેનોને વ્યક્તિગત ચાંદીની સરસ્વતીની મૂર્તિ
                                            મળેલ છે
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">12 જુલાઇ 2005 ના રોજ્ન
                                            NCC ની શરૂઆત
                                        </span>
                                    </li>
                                    <li class="lectures-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">2005-06 માં જીલ્લા
                                            કક્ષાની ગરબા સ્પર્ધા ડીસા મુકામે યોજાયેલ વ્યક્તિગત લ્હાણી પ્રાપ્ત કરેલ
                                            છે
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">2006-07 માં જીલ્લા
                                            તેમજ રાજ્ય કક્ષાના રમતોત્સવમાં ભાગ લેનાર વિધાર્થિનીઓની સંખ્યા 150 જેટલી
                                            હતી .જેમાં વિશિષ્ટ પ્રદાન મેળવનાર બાળખોખોની સ્પર્ધામાં બે બહેનો રાજ્ય
                                            કક્ષાની સ્પર્ધા માટે ગોધરા મુકામે પસંદગી પામેલ:
                                            <ul>
                                                <li>૧. મહીડા જીજ્ઞા હરેન્દ્રસિંહ</li>
                                                <li>૨. મહીડા વિધિ ભૂપેન્દ્રસિંહ</li>
                                            </ul>
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">બાલ એથળેટીક્સની રાજ્ય
                                            કક્ષાની સ્પર્ધા પીપળજ મુકામે યોજાયેલ જેમાં બહેનોએ ભાગ લીધેલ
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">રાજ્ય કક્ષાની ખોખોની
                                            સ્પર્ધામાં એક બહેન પસંદગી પામેલ છે- ગરાસીયા શુશીલા શાંતીલાલ
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">રાજ્ય કક્ષાની સ્કેટીંગ
                                            સ્પર્ધામાં અમદાવાદ મુકામે યોજાઇ જેમાં પાચ વિધાર્થીની બહેનોએ ભાગ લીધેલ
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">૨૦૦૬ માં આર્ય સમાજ દ્વારા નિબંધ સ્પર્ધા યોજાઈ
                                            <br>
                                            વિષય : સાંપ્રદાઈક્તાનું ઝેર માનવતા માટે કલંક. ત્રણ નંબર પ્રાપ્ત થયા છે,
                                            <ul>
                                                <li>૧. પઠાણ સોહા ફિરોજખાન</li>
                                                <li>૨. પંચોલી આકાંશા અલક</li>
                                                <li>૩. પટેલ શ્રુષ્ટી રમેશભાઈ</li>
                                            </ul>
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">તા. ૨૦/૦૮/૨૦૦૬ ના રોજ
                                            ઓલ ઈન્ડીયા કોમ્પિટિશન અનુક્રમે માર્ગ સુરક્ષા અકસમાતથી બચવાના ઉપાયો વિષય
                                            પર ૧૮ વિધાર્થીની બહેનોએ ભાગ લીધેલ , જેમના નિબંધો દીલ્હી મુકામે ગયેલ
                                            જેમાં સમદરા ભારતમાથી ગુજરાતે ભાષામાં પ્રથમ નંબર પ્રાપ્ત કરનાર - ચોરસીય
                                            જ્યોતી રાકેશકુમાર
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">2006 માં પાચ હજાર મીટર
                                            સ્કેટીંગ સ્પર્ધામાં પ્રથમ નંબર મેળવેલ હતો. અને જે રાજ્ય કક્ષાએ પસંદ
                                            પામ્યા હતા - શાહ કૃપાલી વાય
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>